//-
//- PAGINATION
//- ==========
//-
//- 1. Pagination Summary Message
//- 2. Basic Directional Pagination
//- 3. Full Pagination List
//- 4. Disabled Elements
//-


//-
//- 1. PAGINATION SUMMARY MESSAGE
//- =============================
//-

.pagination
  p.pagination__summary Showing 
    strong 1
    |  to 
    strong 10
    |  of 
    strong 60
    |  results.


//
// 2. BASIC DIRECTIONAL PAGINATION
// ===============================
// Just next and previous links
//

.pagination
  ul.pagination__list
    li.pagination__previous: a(href='#', title='Go to the previous page') Previous
    li.pagination__next: a(href='#', title='Go to the next page') Next

//-
//- 3. FULL PAGINATION LIST
//- =======================
//- The full pagination list contains numbered links (up to 5 pages at once)
//- as well as first, previous, next and last links.
//-
//- Note the class of 'current' on the Page 3 link.
//-

.pagination
  ul.pagination__list

    li.pagination__first: a(href='#', title='Go to the first page') First
    li.pagination__previous: a(href='#', title='Go to the previous page') Previous

    li: a(href='#', title='Go to page 1') 1
    li: a(href='#', title='Go to page 2') 2
    li: a.current(href='#', title='Go to page 3') 3
    li: a(href='#', title='Go to page 4') 4
    li: a(href='#', title='Go to page 5') 5

    li.pagination__next: a(href='#', title='Go to the next page') Next
    li.pagination__last: a(href='#', title='Go to the last page') Last


//-
//- 4. DISABLED ELEMENTS
//- ====================
//- When applicable, a disabled link element should be repaced with a span,
//- with a class of 'disabled' on the wrapping `<li>`.
//-

.pagination
  ul.pagination__list
    li.pagination__first.disabled: span First
    li.pagination__previous.disabled: span Previous
    li.disabled: span 1
    li.pagination__next.disabled: span Next
    li.pagination__last.disabled: span Last
