//-
//- MAIN NAVIGATION
//- ===============
//-

.main-navigation
  .centering
    nav
      ul
        li.nav-item-active
          a(href='#page1') Page 1
        li
          a(href='#page2') Page 2
        li
          a(href='#page3') Page 3
        li
          a(href='#page4') Page 4