//
// MEDIA BLOCK
// ===========
//
// Used to easily position images next to text.
//

.media,
.body
  overflow hidden

.media

  .img
    float left
    margin-right 10px

    img
      display block


//
// MODIFIERS
// =========
// Right align the image by adding a class of `.media-alt` to the `.media` element.
//

.media--alt

  .img
    float right
    margin-right 0
    margin-left 10px
