//-
//- BREADCRUMBS
//- ===========
//-
//- Contains links to parent sections.
//- If the current page is to be included, it doesn't need to be a link.
//-

ol.breadcrumb

  li.breadcrumb__home
    a(href='/') Home
  li
    a(href='#section') Section
  li
    a(href='#sub-section') Sub-section
  li Page Title