
//
// Breakpoints and Media Queries
//

$lapStart = 540px //Lap
$deskStart = 960px //Desk


// Palm MQ
$palmMq = "only screen and (max-width:" + ($lapStart - 1) + ")"

// Above palm MQ
$lapMq = "only screen and (min-width:" + $lapStart + ")"

// Desktop MQ
$deskMq = "only screen and (min-width:" + $deskStart + ")"
