!!!5
html
  head
    title Grid System
  body
    .grid
      .grid__item
        h1 Ones
      .grid__item.one-whole
        p Basic Grid Item
    .grid
      .grid__item
        h1 Twos
      .grid__item.one-half
        p Basic Grid Item
      .grid__item.one-half
        p Basic Grid Item
    .grid
      .grid__item
        h1 Threes
      .grid__item.one-third
        p Basic Grid Item
      .grid__item.two-thirds
        p Basic Grid Item
    .grid
      .grid__item
        h1 Fours
      .grid__item.one-quarter
        p Basic Grid Item
      .grid__item.three-quarters
        p Basic Grid Item
      .grid__item.two-quarters
        p Basic Grid Item
      .grid__item.two-quarters
        p Basic Grid Item
    .grid
      .grid__item
        h1 Fives
      .grid__item.one-fifth
        p Basic Grid Item
      .grid__item.four-fifths
        p Basic Grid Item
      .grid__item.two-fifths
        p Basic Grid Item
      .grid__item.three-fifths
        p Basic Grid Item
    .grid
      .grid__item
        h1 Sixs
      .grid__item.one-sixth
        p Basic Grid Item
      .grid__item.five-sixths
        p Basic Grid Item
      .grid__item.two-sixth
        p Basic Grid Item
      .grid__item.four-sixths
        p Basic Grid Item
      .grid__item.three-sixth
        p Basic Grid Item
      .grid__item.three-sixths
        p Basic Grid Item
    .grid
      .grid__item
        h1 Sevens
      .grid__item.one-seventh
        p Basic Grid Item
      .grid__item.six-sevenths
        p Basic Grid Item
      .grid__item.two-sevents
        p Basic Grid Item
      .grid__item.five-sevenths
        p Basic Grid Item
      .grid__item.three-sevenths
        p Basic Grid Item
      .grid__item.four-sevenths
        p Basic Grid Item
    .grid
      .grid__item
        h1 Tens
      .grid__item.one-tenth
        p Basic Grid Item
      .grid__item.nine-tenths
        p Basic Grid Item
      .grid__item.two-tenths
        p Basic Grid Item
      .grid__item.eigth-tenths
        p Basic Grid Item
      .grid__item.three-tenths
        p Basic Grid Item
      .grid__item.seven-tenths
        p Basic Grid Item
      .grid__item.four-tenths
        p Basic Grid Item
      .grid__item.six-tenths
        p Basic Grid Item
      .grid__item.five-tenths
        p Basic Grid Item
      .grid__item.five-tenths
        p Basic Grid Item
    .grid
      .grid__item
        h1 Tens
      .grid__item.one-twelfth
        p Basic Grid Item
      .grid__item.eleven-twelfths
        p Basic Grid Item
      .grid__item.two-twelfths
        p Basic Grid Item
      .grid__item.ten-twelfths
        p Basic Grid Item
      .grid__item.three-twelfths
        p Basic Grid Item
      .grid__item.nine-twelfths
        p Basic Grid Item
      .grid__item.four-twelfths
        p Basic Grid Item
      .grid__item.eigth-twelfths
        p Basic Grid Item
      .grid__item.five-twelfths
        p Basic Grid Item
      .grid__item.seven-twelfths
        p Basic Grid Item
      .grid__item.six-twelfths
        p Basic Grid Item
      .grid__item.six-twelfths
        p Basic Grid Item